# OpenTofu
**/.terraform/
*.tfstate
*.tfstate.*
crash.log
crash.*.log
*.tfvars
*.tfvars.json
.terraformrc
terraform.rc

# Ansible / secrets
*.retry
.vault_pass
*.key
*.pem

# Local output
*.log
.tmp/
ansible/inventories/windows/hosts.ini
