datacenter = "Datacenter SVB"
cluster    = "SVB Cluster"
datastore  = "MSA2060-Datastore2"
network    = "SVB Server"
vm_folder  = "IaC-Lab"

# Keep false until a real template is created/selected.
create_vm = false

# Public half of /opt/appserver/config/iac/keys/iac_template_ed25519.
ssh_public_key = "ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIIA+W2ocEhkGCkUoOyethivfABUp4Cl76oyA5SW0li21 iac-template@sysap"

vms = {
  "iac-lab-ubuntu-4c" = {
    template      = "tpl-ubuntu-24.04-server"
    cpu           = 2
    memory_mb     = 4096
    disk_gb       = 40
    seed_iso_path = "iac/seed/iac-lab-ubuntu-4c-seed.iso"
  }
}
